﻿@model ParkDetailModel
@{
    ViewData["Title"] = "Detail";
    string UserTemp = TempData["Temp_Pref"].ToString();

    int ConvertTemp(int temp)
    {
        if (UserTemp == "C")
        {
            return (int)(5.0 / 9.0 * ((double)temp - 32));
        }
        return temp;
    }

}

<body>
    <div id="HomeDetailImageAndInfo">
        <div id="HomeDetailImageDiv">
            <img id="HomeDetailImage" src="~/img/parks/@(Model.park.ParkCode).jpg" />
        </div>
        <div id="HomeDetailParkNameStateYearFounded">
            <p>@Model.park.ParkName</p>
            <p>@Model.park.State</p>
            <p>Founded: @Model.park.YearFounded AD</p>
        </div>
        <div id="HomeDetailInspirationalInfo">
            <p>"@Model.park.InspirationalQuote"</p>
            <p>-@Model.park.InspirationalQuoteSource</p>
        </div>
        <div id="HomeDetailParkDescription">
            <p>@Model.park.ParkDescription</p>
        </div>
        <div id="HomeDetailMiscInfo">
            <p>Acreage: @Model.park.Acreage.ToString("N0")</p>
            <p>Elevation: @Model.park.ElevationInFeet.ToString("N0") ft</p>
            <p>Climate: @Model.park.Climate</p>
            <p>Number of Animal Species: @Model.park.NumberOfAnimalSpecies.ToString("N0")</p>
            <p>Annual Visitors: @Model.park.AnnualVisitorCount.ToString("N0")</p>
            <p>Miles of Trail: @Model.park.MilesOfTrail.ToString("N0")</p>
            <p>Number of Campsites: @Model.park.NumberOfCampsites.ToString("N0")</p>
            <p>Entry Fee: $@Model.park.EntryFee.ToString("N2")</p>
        </div>
    </div>

    <div id="HomeDetailWeatherInfo">
        @foreach (var day in Model.weatherForecast)
        {
            var high = ConvertTemp(day.High);
            var low = ConvertTemp(day.Low);
            <div class="HomeDetailWeatherTiles">
                @if (day.FiveDayForecastValue == 1)
                {
                    <p style="font-weight: bold; font-size: 35px; text-align: center">Today</p>
                }
                <img class="HomeDetailWeatherImage" src="~/img/weather/@(day.Forecast).png" />
                <cust class="HomeDetailWeatherHighLow">
                    <div style="padding-right: 5px"><b>High:</b> @(high)°@UserTemp</div>
                    <div style="padding-left: 5px"><b>Low:</b> @(low)°@UserTemp</div>
                </cust>
                <div class="HomeDetailWeatherRecommendations">
                    @switch (day.Forecast)
                    {
                        case "snow":
                            <Partial name="SnowRecommendation" />
                            break;
                        case "rain":
                            <partial name="RainRecommendation" />
                            break;
                        case "thunderstorms":
                            <partial name="ThunderstormsRecommendation" />
                            break;
                        case "sunny":
                            <partial name="SunRecommendation" />
                            break;
                    }
                    @if (day.Low > 75 || day.High > 75)
                    {
                        <partial name="OverSeventyFiveRecommendation" />
                    }
                    @if (Math.Abs(day.High - day.Low) > 20)
                    {
                        <partial name="TwentyDegreeDifferenceRecommendation" />
                    }
                    @if (day.High < 20 || day.Low < 20)
                    {
                        <partial name="BelowTwentyDegreesRecommendation" />
                    }
                </div>
            </div>
        }
    </div>
    <div id="HomeDetailTemperaturePref">
        <p style="font-weight: bold; font-size:20px">Temperature Preference</p>
        <div id="HomeDetailTempButtons">
            <a asp-controller="Home" asp-action="RedirectDetail" asp-route-id="@Model.park.ParkCode" asp-route-tempPref="F" class="btn btn-default">
                Fahrenheit
            </a>
            <a asp-controller="Home" asp-action="RedirectDetail" asp-route-id="@Model.park.ParkCode" asp-route-tempPref="C" class="btn btn-default">
                Celsius
            </a>
        </div>
    </div>


    <span display="hidden" style="color:white" id="temppref">@UserTemp</span>
</body>


