﻿@model List<Park>
@{
    ViewData["Title"] = "Home Page";
}
<bodyid id="HomeIndexBody">
    <div id="HomeIndexParkList">
        @foreach (var park in Model)
        {
            <div class="HomeIndexParkTiles">
                <a asp-controller="Home" asp-action="Detail" asp-route-id="@park.ParkCode">
                    <img class="HomeIndexParkImage" src="~/img/parks/@(park.ParkCode).jpg" />
                </a>
                <div class="HomeIndexTileNameDescription">
                    <div class="HomeIndexParkTileNameLocation">
                        <a asp-controller="Home" asp-action="Detail" asp-route-id="@park.ParkCode">
                            <p>@park.ParkName</p>
                        </a>
                        <p>@park.State</p>
                    </div>
                    <div class="HomeIndexParkTileDescription">
                        <p>@park.ParkDescription</p>
                    </div>
                </div>

            </div>
        }
    </div>
</bodyid>
