﻿@model SurveyResult
@{
    ViewData["Title"] = "Survey";
    var ParkOptions = (List<SelectListItem>)TempData["ParkOptions"];
}

<h2 id="SurveyPageHeading">Daily Park Survey</h2>
<h3>@TempData["SurveyConfirmation"]</h3>
<p style="font-weight: bold">
    Please take a moment to participate in our daily park survey. Fill out the information below
    to vote for your favorite national and tell us a little more about yourself. Once the survey
    has been completed, you will be able to see where your favorite park ranks amongst other users
    who have participated in our survey.
</p>
<form asp-controller="Home" asp-action="Survey" method="post" style="display: flex; flex-direction: column">
    <div>
        <label asp-for="ParkCode" class="SurveyLabel"></label>
        <select asp-for="ParkCode" asp-items="@ParkOptions" class="SurveySelectAndInput"></select><span asp-validation-for="ParkCode"></span>
    </div>
    <div>
        <label asp-for="EmailAddress" class="SurveyLabel"></label>
        <input asp-for="EmailAddress" class="SurveySelectAndInput" /><span style="color: red" class="SurveySelectAndInput" asp-validation-for="EmailAddress"></span>
    </div>
    <div>
        <label asp-for="State" class="SurveyLabel"></label>
        <span asp-validation-for="State"></span>
        <select asp-for="State" asp-items="@SurveyResult.States" class="SurveySelectAndInput"></select><span asp-validation-for="State"></span>
    </div>
    <div>
        <label asp-for="ActivityLevel" class="SurveyLabel"></label><span asp-validation-for="ActivityLevel" style="color: red"></span>
        <div id="SurveyActivityOptions">
            @foreach (var activity in SurveyResult.ActivityOptions)
            {
                <div>
                    <input asp-for="ActivityLevel" type="radio" class="radio-inline" style="margin-right: 5px" value="@activity"><span>@activity</span>
                </div>
            }
        </div>
    </div>

    <input type="submit" value="Submit" style="width: 15%; margin-left: 170px" class="SurveySelectAndInput" />
</form>
