﻿@model List<ParkWithVotes>
@{
    ViewData["Title"] = "SurveyResult";
}


<h3 id="confirmation">@TempData["SurveyConfirmation"]</h3>

<bodyid id="SurveyResultBody">
    <h4 id="SurveyPageHeading">Survey Results</h4>
    <p style="font-weight: bold">
        Thank you for participating in our daily national park survey. Check below to see how your favorite park
        ranks amongst others who have participated in our survey. If you would like to learn more about any of our
        other users favorite parks, just click on the park photo or name.
    </p>
    <div id="SurveyResultParkList">
        @foreach (var park in Model)
        {
            <div class="SurveyResultParkTiles">
                <span class="SurveryResultsParkImageDiv">
                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@park.ParkCode">
                        <img class="SurveyResultParkImage" src="~/img/parks/@(park.ParkCode).jpg" />
                    </a>
                </span>
                @*<div class="SurveyResultTileNameDescription">*@
                    @*<div class="SurveyResultParkTileNameLocation">*@
                        <span class="SurveyResultsParkName">
                            <a asp-controller="Home" asp-action="Detail" asp-route-id="@park.ParkCode">
                                <p style="font-size:20px">@park.ParkName</p>
                            </a>
                        </span>
                        <span class="DailyVotes">
                            <p style="font-weight: bold">Total Votes</p>
                            <p>@park.Votes</p>
                        </span>
                        
                    @*</div>*@
                @*</div>*@

            </div>
        }
    </div>
</bodyid>

