﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;

}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 80px; /*Jarrod-Added because the top of the body was being hidden by the header after adding the logo*/
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.HomeIndexParkTiles {
    display: flex;
    align-content: flex-start;
    margin: 20px 10px 20px 10px;
}

.HomeIndexTileNameDescription {
    display: flex;
    flex-direction: column;
}

.HomeIndexParkTileNameLocation {
    font-weight: bold;
}

    .HomeIndexParkTileNameLocation p:nth-child(1) {
        font-size: 20px;
    }

    .HomeIndexParkTileNameLocation p:nth-child(2) {
        margin-top: -10px;
        font-size: 15px;
    }

.HomeIndexParkImage {
    margin: 0px 20px 0px 20px;
}

#DetailPageBody {
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-areas: '. body .';
}

#HomeDetailImageAndInfo{
    grid-area:body;
}

#HomeDetailImage {
    width: 80%;

}

#HomeDetailParkNameStateYearFounded {
    font-weight: bold;
}

    #HomeDetailParkNameStateYearFounded p:nth-child(1) {
        font-size: 20px;
    }

    #HomeDetailParkNameStateYearFounded p:nth-child(2) {
        font-size: 16px;
        margin-top: -10px;
    }

    #HomeDetailParkNameStateYearFounded p:nth-child(3) {
        font-size: 16px;
        margin-top: -10px;
    }

#HomeDetailInspirationalInfo {
    padding-top: 10px;
}

    #HomeDetailInspirationalInfo p:nth-child(1) {
        font-style: italic;
        margin-bottom: 2px;
    }

#HomeDetailParkDescription p {
    font-weight: bold;
    font-size: 15px;
}

#HomeDetailMiscInfo p {
    font-weight: bold;
    font-size: 15px;
}

#HomeDetailMiscInfo p {
    margin: 2px 0px 2px 0px;
}

#HomeDetailWeatherInfo {
    display: flex;
    justify-content: space-between;
    margin: 40px 10px 10px 10px;
}

.HomeDetailWeatherTiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20%
}

.HomeDetailWeatherImage {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.HomeDetailWeatherHighLow {
    display: flex;
    justify-content: space-between;
}

.HomeDetailWeatherRecommendations p {
    margin-top: 2px;
    margin-bottom: 0px;
}

#HomeDetailWeatherInfo img:nth-child(2n+1){
    width: 40%;
}

#HomeDetailWeatherInfo cust:nth-child(2n) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

#HomeDetailTemperaturePref{
    Margin-top: 25px;
    border:solid;
    border-color:grey;
    padding-top: -2px;
    border-radius: 5px;
    border-width: 2px;
    text-align: center;
    background-color:tan;
}

.SurveyLabel {
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
    padding-right:25px;
   margin-top: 15px;
}

.SurveySelectAndInput {
    display: inline-block;
    float: left;
    margin-top: 15px;
}

#SurveyPageHeading {
    border: solid;
    border-color: grey;
    padding-top: -2px;
    border-radius: 5px;
    border-width: 2px;
    text-align: center;
    background-color: tan
}

#SurveyActivityOptions{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items:flex-end;
    margin-top: 12px;
}

#confirmation{
    font-size: 12px;
}

#SurveyResultParkList{
    display: flex;
    flex-direction: column;
}

.SurveyResultParkTiles{
    /*display: flex;
    flex-direction: row;
    justify-content: flex-start;*/
    margin-top: 20px;
    display:grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    grid-template-areas: 'pic name votes . .' ;
}

.SurveyResultParkImage{
    width: 70%
}

.DailyVotes{
    display: flex;
    flex-direction:column;
    text-align: center;
    grid-area:votes;
}

.SurveyResultsParkName{
    grid-area:name;
}